<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProjectJSP</display-name>
  <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>controller.StartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.web.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.web.login.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>controller.admin.management.user.ManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserServlet</servlet-name>
        <servlet-class>controller.admin.management.user.RemoveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserServlet</servlet-name>
        <servlet-class>controller.admin.management.user.InsertUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controller.admin.management.user.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductServlet</servlet-name>
        <servlet-class>controller.admin.management.product.ManageProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductServlet</servlet-name>
        <servlet-class>controller.admin.management.product.InsertProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProduceServlet</servlet-name>
        <servlet-class>controller.admin.management.product.RemoveProduceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.admin.management.product.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserMealServlet</servlet-name>
        <servlet-class>controller.admin.management.usermeal.InsertUserMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserMealServlet</servlet-name>
        <servlet-class>controller.web.usermeal.ManageUserMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSpecMealServlet</servlet-name>
        <servlet-class>controller.admin.management.specmeal.InsertSpecMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSpecMealServlet</servlet-name>
        <servlet-class>controller.admin.management.specmeal.ManageSpecMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSpecMealServlet</servlet-name>
        <servlet-class>controller.admin.management.specmeal.RemoveSpecMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSpecMealServlet</servlet-name>
        <servlet-class>controller.admin.management.specmeal.UpdateSpecMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.web.logout.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.web.profile.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.web.profile.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MealShopServlet</servlet-name>
        <servlet-class>controller.web.mealshop.MealShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleMealShopServlet</servlet-name>
        <servlet-class>controller.web.mealshop.SingleMealShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserMealServlet</servlet-name>
        <servlet-class>controller.web.usermeal.UpdateUserMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserMealServlet</servlet-name>
        <servlet-class>controller.web.usermeal.RemoveUserMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserMealDetailServlet</servlet-name>
        <servlet-class>controller.web.usermeal.InsertUserMealDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserMealDetailServlet</servlet-name>
        <servlet-class>controller.web.usermeal.RemoveUserMealDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserMealServlet</servlet-name>
        <servlet-class>controller.web.usermeal.InsertUserMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserMealDetailServlet</servlet-name>
        <servlet-class>controller.web.usermeal.UpdateUserMealDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToUserMeal</servlet-name>
        <servlet-class>controller.web.usermeal.AddToUserMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MealShopSearchServlet</servlet-name>
        <servlet-class>controller.web.mealshop.MealShopSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.web.mealshop.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartServlet</servlet-name>
        <servlet-class>controller.web.mealshop.EditCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.web.order.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRecipeDetailServlet</servlet-name>
        <servlet-class>controller.admin.management.recipe.ManageRecipeDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRecipeDetailServlet</servlet-name>
        <servlet-class>controller.admin.management.recipe.InsertRecipeDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveRecipeDetailServlet</servlet-name>
        <servlet-class>controller.admin.management.recipe.RemoveRecipeDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/StartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/ManageUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserServlet</servlet-name>
        <url-pattern>/RemoveUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserServlet</servlet-name>
        <url-pattern>/InsertUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductServlet</servlet-name>
        <url-pattern>/ManageProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductServlet</servlet-name>
        <url-pattern>/InsertProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProduceServlet</servlet-name>
        <url-pattern>/RemoveProduceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserMealServlet</servlet-name>
        <url-pattern>/ManageUserMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSpecMealServlet</servlet-name>
        <url-pattern>/InsertSpecMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSpecMealServlet</servlet-name>
        <url-pattern>/ManageSpecMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSpecMealServlet</servlet-name>
        <url-pattern>/RemoveSpecMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSpecMealServlet</servlet-name>
        <url-pattern>/UpdateSpecMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MealShopServlet</servlet-name>
        <url-pattern>/MealShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleMealShopServlet</servlet-name>
        <url-pattern>/SingleMealShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserMealServlet</servlet-name>
        <url-pattern>/UpdateUserMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserMealServlet</servlet-name>
        <url-pattern>/RemoveUserMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserMealDetailServlet</servlet-name>
        <url-pattern>/InsertUserMealDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserMealDetailServlet</servlet-name>
        <url-pattern>/RemoveUserMealDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserMealServlet</servlet-name>
        <url-pattern>/InsertUserMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserMealDetailServlet</servlet-name>
        <url-pattern>/UpdateUserMealDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToUserMeal</servlet-name>
        <url-pattern>/AddToUserMeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MealShopSearchServlet</servlet-name>
        <url-pattern>/MealShopSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartServlet</servlet-name>
        <url-pattern>/EditCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRecipeDetailServlet</servlet-name>
        <url-pattern>/ManageRecipeDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRecipeDetailServlet</servlet-name>
        <url-pattern>/InsertRecipeDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveRecipeDetailServlet</servlet-name>
        <url-pattern>/RemoveRecipeDetailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
  <welcome-file-list>
	<welcome-file>jsp/home/home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>